/* 홈페이지 전체적인 스타일 */

text{
  font-family: 'Gowun Batang', serif;
}

em{
  font-family: 'Gowun Batang', serif;
  font-size: 20px;
  font-weight: bold;
}

body{
  background-color: aliceblue;
}

h2{
  font-family: 'Gowun Batang', serif;
  font-size: 20px;
}

p{
  font-family: 'Gowun Batang', serif;
  font-size: 1em;
}

a{
  font-family: 'Gowun Batang', serif;
  font-size: 1em;
  font-weight: bold;
}

td{
  font-family: 'Gowun Batang', serif;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:visible ;
  color: rgb(111, 138, 125);
  background-color: #334f3f82;
  position: sticky;
  top:0px;

}

li {
  display: inline-block;
}

li a, .dropbtn {
  display: inline-block;
  padding: 14px 16px;
  color: rgb(15, 57, 48);
  text-align: center;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(21, 122, 82);
}
.dropdown-content {
  display: none; 
  position: absolute;   
  background-color: rgb(53, 101, 53);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(18, 0, 0, 0.2);
  z-index: 1; 
           
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
  text-align: left;
}

.dropdown-content a:hover {background-color: rgb(72, 139, 99);}

.dropdown:hover .dropdown-content {
  display: block;
}
